<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>re-visiting key concept show</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-black text-[#fff] p-10">
      <div class="flex justify-end">
        <a
          class="text-blue-500 font-medium border-2 border-white mb-15 cursor-pointer bg-[#292929] pl-4 pr-4 p-1 rounded-3xl"
          href="/"
        >
          back to home
        </a>
      </div>
      <h1 class="text-5xl font-medium"><%=filename %></h1>
      <h5 class="text-2xl mt-5 font-medium"><%=filedata %></h5>
    </div>
  </body>
</html>
